#rules, #rulesScreen {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;

  h1 {
    position: relative;
    margin-bottom: 50px;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 4vw;
    font-style: normal;
    text-align: center;
    color: $gray;
  }

  button {
    position: relative;
    padding: 3px 7px;
    margin: 50px auto 0;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 2vw;
    font-style: normal;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: $gray;
    outline: none;
    border: none;
    cursor: pointer;
  }

}

#rulesScreen {

  h1 {
    margin-bottom: 0;
  }
}