#startScreen {
  position: relative;
  max-width: 72%;
  margin: 0 auto;

  .logo {
    position: relative;
    height: 220px;
    width: auto;
    margin-right: 50px;
  }

  h1 {
    position: relative;
    font-family: "Patsy Sans", sans-serif;
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-align: left;
    color: $blue;
  }

  .start-button {
    position: relative;
    margin-top: 35px;
    padding: 20px 29px 20px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background: $pink;
    user-select: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.8s $ease-power4-out;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    img {
      position: relative;
      height: 50px;
      width: auto;
      -webkit-user-drag: none;
    }

    p {
      position: relative;
      margin-left: 25px;
      font-family: "PP Pangram Sans Rounded bold", sans-serif;
      font-size: 35px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05em;
      text-align: left;
      text-transform: uppercase;
      color: $wheat;
    }

  }

}