#teams {
  position: relative;

  .teams-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .card {
      position: relative;
      width: 100%;
      padding: 10px;
      max-height: 250px;
      border-radius: 15px;
      cursor: pointer;
      user-select: none;
      user-focus: none;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(238, 237, 230, 1);
      transition: background-color 0.8s $ease-power4-out;

      &.selected {
        &.blue {
          background-color: rgba(198, 240, 255, 1);

          .logo {
            fill: #81C2DA !important;
          }
        }

        &.red {
          background-color: rgba(255, 193, 173, 1);

          .logo {
            fill: #FF784D !important;
          }
        }
      }

      &.selectedByOtherTeam {
        &.blue {
          background-color: rgba(255, 193, 173, 1);

          .logo {
            fill: #FF784D !important;
          }
        }

        &.red {
          background-color: rgba(198, 240, 255, 1);

          .logo {
            fill: #81C2DA !important;
          }
        }
      }

      .team-name {
        position: relative;
        margin: 10px auto;
        font-family: "Patsy Sans", sans-serif;;
        font-size: 25px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0em;
        text-align: center;
        white-space: nowrap;
        color: $blue;
        z-index: 1;
      }

      ul {
        position: relative;
        width: 100%;
        list-style: none;
        z-index: 1;

        li {
          position: relative;
          margin-bottom: 5px;
          padding: 15px 0;
          width: 100%;
          border-radius: 10px;
          background-color: $wheat;
          font-family: "PP Pangram Sans Rounded medium", sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0em;
          text-align: center;
          color: $blue;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .logo {
        position: absolute;
        top: 15px;
        left: -5px;
        height: 70px;
        width: auto;
        z-index: 0;
        fill: #D8D6C8;
        transition: fill 0.8s $ease-power4-out;
      }
    }
  }

  .validateButton {
    position: relative;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background: $gray;
    cursor: pointer;

    p {
      position: relative;
      font-family: "Helvetica", sans-serif;
      font-size: 2vw;
      font-style: normal;
      line-height: 1;
      font-weight: 500;
      text-align: center;
      color: white;
      user-select: none;
    }
  }
}