$gray: #303030;
$lightGray: #e7e7e7;

@font-face {
  font-family: "PP Pangram Sans Rounded";
  src: url("../public/font/Pangram/PPPangramSansRounded-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PP Pangram Sans Rounded medium";
  src: url("../public/font/Pangram/PPPangramSansRounded-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PP Pangram Sans Rounded semi-bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "PP Pangram Sans Rounded bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Patsy Sans";
  src: url("../public/font/Patsy/PatsySans.otf");
  font-style: normal;
  font-weight: 400;
}

$pink: rgba(215, 102, 119, 1);
$wheat: rgba(254, 255, 246, 1);
$light-blue: rgba(131, 159, 220, 1);
$blue: rgba(56, 72, 100, 1);
$dark-blue: rgba(43, 56, 80, 1);
$light-green: rgba(237, 248, 238, 1);
$green: rgba(195, 224, 199, 1);
$dark-green: rgba(179, 212, 180, 1);
$radius: 15px;

$ease-expo-inOut: cubic-bezier(0.87, 0, 0.13, 1);
$ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);

$ease-power4-out: cubic-bezier(0.22, 1, 0.36, 1);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html, body {
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  position: fixed;
  background-color: $blue;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  #__next {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

}

@import "start";
@import "deco";
@import "general";
@import "dialog";
@import "interaction";
@import "teams";
@import "turnByTurn";
@import "animation";
@import "question";
@import "answer";

.global-wrapper {
  position: relative;
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;

  .type {
    position: relative;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 14px;
    border: 1px solid $gray;
    font-size: 20px;
    color: $gray;
    background: $lightGray;
  }

  .theme, .question {
    position: relative;
    margin-top: 75px;
    font-size: 2vw;
    color: $gray;
    text-align: center;
  }

  .info {
    position: relative;
    margin-top: 10px;
    font-size: 1.1vw;
    text-align: center;
  }

  .themeWrapper, .questionWrapper {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h2 {
      position: relative;
      margin: 0 20px;
      padding: 12px 18px;
      font-size: 1.5vw;
      color: $gray;
      text-align: center;
      border-radius: 14px;
      cursor: pointer;
      border: 1px solid $gray;
      background: $lightGray;
      transition: all ease-in-out 0.35s;

      &:hover, &.selected {
        background: #cecece;
      }

      &.disabled {
        background: #ffffff;
        color: #d5d5d5;
        border: 1px solid #d5d5d5;
      }

    }

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
  }

  .buttonValidate {
    position: relative;
    margin: 20px auto 0;
    width: fit-content;
    padding: 8px 14px;
    border-radius: 14px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    background: #ffffff;
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
    transition: all ease-in-out 0.35s;

    &.readyToClick {
      background-color: $gray;
      border: 1px solid $lightGray;
      color: $lightGray;
    }

  }

  .selectedAnimation {
    position: relative;
    margin-top: 30px;
    font-size: 1.2vw;
    font-weight: 400;
  }

  .answerWrapper {
    position: relative;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    h5 {
      position: relative;
      font-weight: 300;
      font-size: 15px;
      color: $gray;
    }

    p {
      position: relative;
      margin: 0 5px;
      font-weight: 500;
      font-size: 15px;
      color: $gray;
    }

  }
}