@font-face {
  font-family: "PP Pangram Sans Rounded";
  src: url("../public/font/Pangram/PPPangramSansRounded-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PP Pangram Sans Rounded medium";
  src: url("../public/font/Pangram/PPPangramSansRounded-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "PP Pangram Sans Rounded semi-bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PP Pangram Sans Rounded bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Patsy Sans";
  src: url("../public/font/Patsy/PatsySans.otf");
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.global-wrapper {
  position: relative;
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
}
.global-wrapper .type {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid #303030;
  font-size: 20px;
  color: #303030;
  background: #e7e7e7;
}
.global-wrapper .theme, .global-wrapper .question {
  position: relative;
  margin-top: 75px;
  font-size: 2vw;
  color: #303030;
  text-align: center;
}
.global-wrapper .info {
  position: relative;
  margin-top: 10px;
  font-size: 1.1vw;
  text-align: center;
}
.global-wrapper .themeWrapper, .global-wrapper .questionWrapper {
  position: relative;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.global-wrapper .themeWrapper h2, .global-wrapper .questionWrapper h2 {
  position: relative;
  margin: 0 20px;
  padding: 12px 18px;
  font-size: 1.5vw;
  color: #303030;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid #303030;
  background: #e7e7e7;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .themeWrapper h2:hover, .global-wrapper .themeWrapper h2.selected, .global-wrapper .questionWrapper h2:hover, .global-wrapper .questionWrapper h2.selected {
  background: #cecece;
}
.global-wrapper .themeWrapper h2.disabled, .global-wrapper .questionWrapper h2.disabled {
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
}
.global-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.global-wrapper li {
  display: block;
}
.global-wrapper .buttonValidate {
  position: relative;
  margin: 20px auto 0;
  width: fit-content;
  padding: 8px 14px;
  border-radius: 14px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .buttonValidate.readyToClick {
  background-color: #303030;
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
}
.global-wrapper .selectedAnimation {
  position: relative;
  margin-top: 30px;
  font-size: 1.2vw;
  font-weight: 400;
}
.global-wrapper .answerWrapper {
  position: relative;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.global-wrapper .answerWrapper h5 {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  color: #303030;
}
.global-wrapper .answerWrapper p {
  position: relative;
  margin: 0 5px;
  font-weight: 500;
  font-size: 15px;
  color: #303030;
}

body {
  background-color: #384864;
}

.global-container {
  position: fixed;
  padding: 19px;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 5;
  background-color: #384864;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 10;
  padding: 19px;
  user-focus: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.frame img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.frame h3 {
  position: absolute;
  top: 22px;
  left: 50%;
  font-family: "Patsy Sans", sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  color: #c3e0c7;
  user-select: none;
  z-index: 1;
}

.otherTeamWantsToContinue {
  position: fixed;
  top: 0;
  right: 50px;
  height: 50px;
  width: 100px;
  background-color: red;
  z-index: 15;
}

#startScreen {
  position: relative;
}
#startScreen .logo {
  position: relative;
  height: 320px;
  width: auto;
  margin-right: 64px;
}
#startScreen h1 {
  position: relative;
  font-family: "Patsy Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #384864;
}

header {
  position: relative;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  position: relative;
  margin: 0;
  border-right: 1px solid #818181;
  padding-right: 20px;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1;
  color: #303030;
}
header a {
  position: relative;
  text-decoration: none;
}
header a h3 {
  position: relative;
  margin: 0;
  padding: 0 25px;
  font-size: 1.25vw;
}
header a:last-child h3 {
  padding-right: 0;
}

#teams {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 10;
}
#teams h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#teams .teamsWrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#teams .teamsWrapper .card {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  user-focus: none;
  border: 3px solid transparent;
  transform: scale(1);
  transition: filter 0.35s ease-in-out, border 0.35s ease-in-out, transform 0.35s ease-in-out;
}
#teams .teamsWrapper .card.selected {
  border: 3px solid #303030;
  transform: scale(1.05);
}
#teams .teamsWrapper .card.selectedByOtherTeam {
  filter: grayscale(1);
}
#teams .teamsWrapper .card .teamName {
  position: relative;
  margin-bottom: 15px;
  font-family: "Helvetica", sans-serif;
  font-size: 2.8vw;
  line-height: 1;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #303030;
}
#teams .teamsWrapper .card ul {
  position: relative;
  list-style: none;
}
#teams .teamsWrapper .card ul li {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  font-style: normal;
  text-align: left;
  color: #303030;
}
#teams .validateButton {
  position: relative;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #303030;
  cursor: pointer;
}
#teams .validateButton p {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  font-style: normal;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: white;
  user-select: none;
}

#rules, #rulesScreen {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#rules h1, #rulesScreen h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#rules button, #rulesScreen button {
  position: relative;
  padding: 3px 7px;
  margin: 50px auto 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 2vw;
  font-style: normal;
  text-align: center;
  border-radius: 5px;
  color: white;
  background: #303030;
  outline: none;
  border: none;
  cursor: pointer;
}

#rulesScreen h1 {
  margin-bottom: 0;
}

#theme, #themeScreen, #themeExplanation, #themeExplanationScreen {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#theme h1, #themeScreen h1, #themeExplanation h1, #themeExplanationScreen h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}

#themeScreen h1, #themeExplanationScreen h1 {
  margin-bottom: 0;
}

#map {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#map h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#map video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#map h1 {
  margin-bottom: 0;
}

#turnByTurn {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#turnByTurn h1 {
  position: relative;
  margin-bottom: 15px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#turnByTurn h2 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 3vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#turnByTurn .animal-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#turnByTurn .animal-wrapper .animal {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #303030;
  user-select: none;
  transition: transform 0.65s;
  transform-style: preserve-3d;
}
#turnByTurn .animal-wrapper .animal p {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  line-height: 1;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: white;
}
#turnByTurn .animal-wrapper .animal.hidden {
  transform: rotateY(180deg);
}
#turnByTurn .animal-wrapper .animal.hidden p {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#turnByTurn .animal-wrapper .animal.empty {
  background: transparent;
  cursor: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
#turnByTurn .timer-wrapper {
  position: relative;
  margin-top: 50px;
  height: 20px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #303030;
}
#turnByTurn .timer-wrapper .timer {
  position: relative;
  left: 0;
  height: 100%;
  width: 0;
  background: green;
  animation-duration: 999s;
  animation: timer linear infinite;
  animation-play-state: paused;
}
@keyframes timer {
  0% {
    width: 0;
    background: green;
  }
  50% {
    background: orange;
  }
  100% {
    width: 100%;
    background: red;
  }
}
#turnByTurn .validateButton {
  position: relative;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #303030;
  cursor: pointer;
  display: none;
}
#turnByTurn .validateButton p {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  font-style: normal;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: white;
  user-select: none;
}
#turnByTurn .waitingScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  background: white;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
#turnByTurn .waitingScreen.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
#turnByTurn .waitingScreen h4 {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 5vw;
  font-style: normal;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: #303030;
  user-select: none;
}

#animationScreen {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#animationScreen h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}

#animationScreen h1 {
  margin-bottom: 0;
}

#animationQuestionScreen {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
}
#animationQuestionScreen h1 {
  position: relative;
  margin-bottom: 10px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#animationQuestionScreen .sub-title {
  position: relative;
  margin-bottom: 40px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 2.25vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#animationQuestionScreen .wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
#animationQuestionScreen .wrapper .answer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #303030;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border 0.35s ease-in-out;
}
#animationQuestionScreen .wrapper .answer.selected {
  background: #303030 !important;
  color: white;
}
#animationQuestionScreen .wrapper .answer.selectedByTheOtherTeam {
  background: #b2b2b2;
}
#animationQuestionScreen .wrapper .answer.wrongAnswer {
  background: #fd5a5a;
  border: 2px solid #fd5a5a;
  color: white;
}
#animationQuestionScreen .wrapper .answer.correctAnswer {
  background: #4aa445;
  border: 2px solid #4aa445;
  color: white;
}
#animationQuestionScreen .validateButton {
  position: relative;
  display: none;
  padding: 3px 7px;
  margin: 50px auto 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  font-style: normal;
  text-align: center;
  border-radius: 5px;
  color: white;
  background: #303030;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
#animationQuestionScreen .info {
  position: relative;
  margin-top: 30px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 2vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}

/*# sourceMappingURL=style.css.map */
