* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  position: relative;
  margin: 0;
  border-right: 1px solid #818181;
  padding-right: 20px;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1;
  color: #303030;
}
header a {
  position: relative;
  text-decoration: none;
}
header a h3 {
  position: relative;
  margin: 0;
  padding: 0 25px;
  font-size: 1.25vw;
}
header a:last-child h3 {
  padding-right: 0;
}

.global-wrapper {
  position: relative;
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
}
.global-wrapper .type {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid #303030;
  font-size: 20px;
  color: #303030;
  background: #e7e7e7;
}
.global-wrapper .theme, .global-wrapper .question {
  position: relative;
  margin-top: 75px;
  font-size: 2vw;
  color: #303030;
  text-align: center;
}
.global-wrapper .info {
  position: relative;
  margin-top: 10px;
  font-size: 1.1vw;
  text-align: center;
}
.global-wrapper .themeWrapper, .global-wrapper .questionWrapper {
  position: relative;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.global-wrapper .themeWrapper h2, .global-wrapper .questionWrapper h2 {
  position: relative;
  margin: 0 20px;
  padding: 12px 18px;
  font-size: 1.5vw;
  color: #303030;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid #303030;
  background: #e7e7e7;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .themeWrapper h2:hover, .global-wrapper .themeWrapper h2.selected, .global-wrapper .questionWrapper h2:hover, .global-wrapper .questionWrapper h2.selected {
  background: #cecece;
}
.global-wrapper .themeWrapper h2.disabled, .global-wrapper .questionWrapper h2.disabled {
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
}
.global-wrapper .buttonValidate {
  position: relative;
  margin: 20px auto 0;
  width: fit-content;
  padding: 8px 14px;
  border-radius: 14px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .buttonValidate.readyToClick {
  background-color: #303030;
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
}
.global-wrapper .selectedAnimation {
  position: relative;
  margin-top: 30px;
  font-size: 1.2vw;
  font-weight: 400;
}
.global-wrapper .answerWrapper {
  position: relative;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.global-wrapper .answerWrapper h5 {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  color: #303030;
}
.global-wrapper .answerWrapper p {
  position: relative;
  margin: 0 5px;
  font-weight: 500;
  font-size: 15px;
  color: #303030;
}

/*# sourceMappingURL=style.css.map */
