header {
  position: relative;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  position: relative;
  margin: 0;
  border-right: 1px solid #818181;
  padding-right: 20px;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1;
  color: #303030;
}
header a {
  position: relative;
  text-decoration: none;
}
header a h3 {
  position: relative;
  margin: 0;
  padding: 0 25px;
  font-size: 1.25vw;
}
header a:last-child h3 {
  padding-right: 0;
}

#teams {
  position: fixed;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eadcd6;
}
#teams h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  font-style: normal;
  text-align: center;
  color: #303030;
}
#teams .teamsWrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#teams .teamsWrapper .card {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  user-focus: none;
  border: 3px solid transparent;
  transform: scale(1);
  transition: filter 0.35s ease-in-out, border 0.35s ease-in-out, transform 0.35s ease-in-out;
}
#teams .teamsWrapper .card.selected {
  border: 3px solid #303030;
  transform: scale(1.05);
}
#teams .teamsWrapper .card.selectedByOtherTeam {
  filter: grayscale(1);
}
#teams .teamsWrapper .card .teamName {
  position: relative;
  margin-bottom: 15px;
  font-family: "Helvetica", sans-serif;
  font-size: 2.8vw;
  line-height: 1;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #303030;
}
#teams .teamsWrapper .card ul {
  position: relative;
  list-style: none;
}
#teams .teamsWrapper .card ul li {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  font-style: normal;
  text-align: left;
  color: #303030;
}
#teams .validateButton {
  position: relative;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #303030;
  cursor: pointer;
}
#teams .validateButton p {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 2vw;
  font-style: normal;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: white;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.global-wrapper {
  position: relative;
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
}
.global-wrapper .type {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid #303030;
  font-size: 20px;
  color: #303030;
  background: #e7e7e7;
}
.global-wrapper .theme, .global-wrapper .question {
  position: relative;
  margin-top: 75px;
  font-size: 2vw;
  color: #303030;
  text-align: center;
}
.global-wrapper .info {
  position: relative;
  margin-top: 10px;
  font-size: 1.1vw;
  text-align: center;
}
.global-wrapper .themeWrapper, .global-wrapper .questionWrapper {
  position: relative;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.global-wrapper .themeWrapper h2, .global-wrapper .questionWrapper h2 {
  position: relative;
  margin: 0 20px;
  padding: 12px 18px;
  font-size: 1.5vw;
  color: #303030;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid #303030;
  background: #e7e7e7;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .themeWrapper h2:hover, .global-wrapper .themeWrapper h2.selected, .global-wrapper .questionWrapper h2:hover, .global-wrapper .questionWrapper h2.selected {
  background: #cecece;
}
.global-wrapper .themeWrapper h2.disabled, .global-wrapper .questionWrapper h2.disabled {
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
}
.global-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.global-wrapper li {
  display: block;
}
.global-wrapper .buttonValidate {
  position: relative;
  margin: 20px auto 0;
  width: fit-content;
  padding: 8px 14px;
  border-radius: 14px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
  transition: all ease-in-out 0.35s;
}
.global-wrapper .buttonValidate.readyToClick {
  background-color: #303030;
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
}
.global-wrapper .selectedAnimation {
  position: relative;
  margin-top: 30px;
  font-size: 1.2vw;
  font-weight: 400;
}
.global-wrapper .answerWrapper {
  position: relative;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.global-wrapper .answerWrapper h5 {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  color: #303030;
}
.global-wrapper .answerWrapper p {
  position: relative;
  margin: 0 5px;
  font-weight: 500;
  font-size: 15px;
  color: #303030;
}

/*# sourceMappingURL=style.css.map */
